@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Exo+2);


body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #3275AF;
    font-size:15px;
}

.logo {
    font-family: 'Alegreya', sans-serif;
    font-size:30px;
    font-weight:bold;
    color:ghostwhite;
    text-transform:lowercase;
    letter-spacing:2px;
    text-shadow:1px 1px 5px #013041;

}

.logo:hover, .logo:active, .logo:focus {
    color:ghostwhite;
}


.header {
    background-color:#083658;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:0px;
    border-radius:0px;
}

.footer-container {
    padding:0px;
    margin-top:0px;
}

.footer {
    padding-top:20px;
    padding-bottom:20px;
    background-color:#EBF4FA;
}

nav .btn {
    border-radius:0px;
}

.main-content {
    padding-top:30px;
    padding-bottom:30px;
    position:relative;
}

.input-row-left {
    padding-left:0px;
    padding-right:5px;
}

.input-row-right {
    padding-right:0px;
    padding-left:5px;
}

.case-image {
    border-radius:3px;
}

.page-content {
    position:relative;
}

.home-container {
    margin:0px;
    padding:0px;
}

.home-section {
   
}

.main-content.main-content-home {
    padding:0px;
}

.home-section a {
    display:block;
    text-align:center;
    font-size:30px;
    background-color: #06253C;
    border:1px solid #052033;
    font-family:alegreya;
    color:#B5D0E4;
    text-decoration:none;
    text-shadow:1px 1px 5px #013041;
}

.home-section a:hover {
    color:white;
    background-color: rgba(6, 58, 60, 0.64);
}

.home-view-cases-section, .home-view-cases-section {
    width:50%;
    float:left;
}

.home-about-container a, .home-testimonials-container a {
    height:200px;
    padding-top:75px;
}

.home-cases-container a {
    padding-top:25px;
    height:90px;
}

.home-container {
    background-color: #E5EFF7;
}

.header-nav-links {
    padding-top: 14px;
}

.header-nav-links a {
    color: #B5C8DA;
}

.header-nav-links a:focus, .header-nav-links a:hover {
    color:white;
}

.search-icon {
    cursor: pointer;
}