<!doctype html>
<html lang="en" ng-app="app">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Prodigal</title>
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/timeline.css">
	</head>
	<body>
        <header>
            <div class="navbar header">
                <div class="container">
                    <div class="navbar-header">
                      <a class="navbar-brand logo" ui-sref="home">Prodigal</a>
                    </div>
                    <div class="navbar-form navbar-right top-search-container">
                        <form name="searchForm" novalidate>
                            <div class="input-group">
                                <input type="text" name="search" ng-model="searchTerm" class="form-control">
                                <span class="input-group-btn">
                                    <a ui-sref="main.cases" class="btn btn-default">
                                        <i class="glyphicon glyphicon-search search-icon"></i>
                                    </a>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="navbar-nav navbar-right">
                        <div class="header-nav-links">
                            <a href="#"><i class="fa fa-question-circle"></i> Help</a>&nbsp;&nbsp;
                            <a href="#"><i class="fa fa-info-circle"></i> About</a>&nbsp;&nbsp;
                            <a ui-sref="main.login" ng-hide="user"><i class="fa fa-sign-in"></i> Sign In</a>&nbsp;&nbsp;
                            <a href="#" ng-show="user"><i class="fa fa-user"></i> {{ user.firstName + " " + user.lastName}}</a>&nbsp;&nbsp;
                            <a href="#" ng-show="user" ng-click="logout()"><i class="fa fa-sign-out"></i> Sign Out</a>
                        </div>
                    </div>
                    

                </div>
            </div>
        </header>
        
        <div ui-view></div>
        
        <footer >
            <div class="container-fluid footer-container">
                <div class="text-center footer">
                    &copy; 2015 Prodigal Inc.
                </div>
            </div>
            
        </footer>
        
        
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script>

        function fixHeight(){
            var newHeight = $(window).height() - $('header').height() - $('nav').height() - $('footer').height();
            console.log('resized height', newHeight);
            $('.main-container').css('min-height', newHeight + 'px');
        }

        $(window).resize(function(){
            fixHeight();
        })

        </script>
        <script src="vendor/chance/dist/chance.min.js"></script>
        <script src="vendor/underscore/underscore.js"></script>
        <script src="vendor/underscore.string/dist/underscore.string.js"></script>
	    <script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular-underscore-string/angular-underscore-string.js"></script>
        <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="app.js"></script>
        <script src="auth/auth.js"></script>
        <script src="main/cases.js"></script>
        <script src="main/auth.js"></script>
       
        
	</body>

</html>